.artist-header {
    padding: 20px;
}

.artist-thumb {
    width: 150px;
    height: auto;
    margin: 0 20px 20px 0;
}

.container {
  background: #f9f9f9;
}

.flex-column {
  max-width: 260px;
}

img {
  margin: 5px;
}

.scale {
  transform: scaleY(1.05);
  padding-top: 5px;
}

.btn-yellow {
  background: rgb(245, 231, 44);
  color: black;
  border: 1px solid #ddd;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-yellow:hover,
.btn-yellow:focus {
  border: 1px solid red;
  color: red;
  background-color: #f5f5f5;
}

.well {
  position: relative;
  margin-bottom: 20px;
  overflow: auto;
  min-height: 400px;
}

.album {
  text-align: center;
  color: black;
  background-color: rgb(245, 231, 44);
  padding: 10px 20px;
  border: 1px solid #ddd;
}

.album-thumb {
  width: 100%;
}

.btn-block {
  width: 85%;
}

.btn-bottom {
  position: absolute;
  bottom: 15px;
}