<h1>Looking for some music?</h1>
<p class="lead">searcher works!</p>
<form>
  <div class="form-group">
    <input type="text" name="searcher" [(ngModel)]="searcher" (keyup)="searchMusic()" class="form-control" placeholder="Search Music...">
  </div>
</form>
<a href="http://localhost:8888">
  <button>Log to Spotify</button>
</a>

<div *ngIf='searchRes'>
  <div *ngFor="let res of searchRes">
    <div class="row">
      <div class="col-md-12">
        <div class="card text-white bg-primary mb-3 search-res well" style="max-width: 20rem;">
          <div class="card-header"><a routerLink="/artist">{{res.name}}</a></div>
          <div class="card-body">
            <h6 class="card-title">Genres: </h6>
            <span *ngFor="let genre of res.genres; let i = index">
              <p class="card-text" *ngIf="i < 3">{{genre}}</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>