<h1>Looking for some music?</h1>
<p class="lead">searcher works!</p>
<form>
  <div class="form-group">
    <input type="text" name="searcher" [(ngModel)]="searcher" (keyup)="searchMusic()" class="form-control" placeholder="Search Music...">
  </div>
</form>
<hr>
<div *ngIf='searchRes'>
  <div class="row">
    <div class="col-md-12 responsive-column">
      <div *ngFor="let res of searchRes">
        <div class="column col-sm-3 col-xs-4">
          <a routerLink="/artist/{{res.id}}" class="list-group-item clearfix">
            <span class="pull-left">
              <h5 class="list-group-item-heading">{{res.name}}</h5>
            </span>
            <span class="pull-right" *ngIf="res.images.length > 0">
              <img src="{{res.images[0].url}}" alt="artist-picture" class="img-responsive img-circle">
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>