.navbar {
    margin-bottom: 0;
}

.navbar-default {
    /* color: rgb(255, 67, 49); */
    background-color: rgb(245, 231, 44);
}

.navbar-header {
    display: flex;
    align-items: center;
}

.icon-bar {
    margin-right: 0.5rem;
}

.navbar-header .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-header .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: red;
}
